.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 400px;
  width: 100%;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.full-width {
  width: 100%;
}

.form-element {
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.close-btn {
  margin-left: 10px;
  color: #999;
}

.submit-btn {
  background-color: #008CBA;
  color: #fff;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #005f5f;
}
