<mat-toolbar class="custom-footer">
    <div class="footer-container">
        <div class="left-section">
            <span>© 2023 Book Management App. All rights reserved.</span>
        </div>
        <div class="center-section">
            <a href="/about" mat-button>About Us</a>
            <a href="/contact" mat-button>Contact Us</a>
            <a href="/terms" mat-button>Terms of Service</a>
            <a href="/privacy" mat-button>Privacy Policy</a>
        </div>
        <div class="right-section">
            <a href="https://facebook.com" target="_blank" mat-icon-button>
                <i class="fab fa-facebook"></i> 
            </a>
            <a href="https://twitter.com" target="_blank" mat-icon-button>
                <i class="fab fa-twitter"></i> 
            </a>
            <a href="https://instagram.com" target="_blank" mat-icon-button>
                <i class="fab fa-instagram"></i> 
            </a>
        </div>
    </div>
</mat-toolbar>
