@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;

}

.container {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 20px;
}

table {
  width: 100%;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

.book-title-link {
  cursor: pointer;
  color: #3f51b5;
  text-decoration: none;
}

.book-title-link:hover {
  text-decoration: underline;
}

tr.mat-row:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.green-snackbar {
  background-color: green !important;
  color: white !important;
}

.error-snackbar {
  background-color: red !important;
  color: white !important;
}

.mat-snack-bar-success {
  background-color: #28a745 !important;
  color: #ffffff !important;
}

.mat-snack-bar-error {
  background-color: #dc3545 !important;
  color: #ffffff !important;
}

